<header>
    <div></div>
    <a  (click)="goToPage('home')">
      <img class="logo" src="https://marvel-b1-cdn.bc0a.com/f00000000155119/www.ucmo.edu/_resources/img/logo-300-px-c.png" alt="University of Central Missouri Logo" />
    </a>
    <div class="user-options"></div>
    <div class="button-container">
      <a routerLink="">Home</a> 
      <a href="https://jobs.ucmo.edu">UCM Jobs</a>
      <a href="https://ucmo.blackboard.com/ultra/institution-page">Blackboard</a> 
      <a href="https://mycentral.ucmo.edu/">MyCentral</a> 
      <a href="https://www.ucmo.edu/">Official Website</a> 
      <a herf="https://www.ucmfoundation.org/">Other Services</a>
    </div>
  </header>
  