<header>
    <div></div>
    <a  (click)="goToPage('home')">
      <img class="logo" src="https://marvel-b1-cdn.bc0a.com/f00000000155119/www.ucmo.edu/_resources/img/logo-300-px-c.png" alt="University of Central Missouri Logo" />
    </a>
    <div class="user-options"></div>
    <div class="button-container">
      <a routerLink="">home</a> 
      <a routerLink="">Jobs</a>
      <a routerLink="">Account</a> 
      <a routerLink="">Register</a> 
      <a routerLink="">main</a> 
      <a href="https://www.ucmo.edu/">Official Website</a> 
      <a routerLink="">Other Services</a>
    </div>
  </header>
  